<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="text-left d-flex align-items-center">
            <h4 class="texto mb-0"> <span class="bold">Sec</span><span class="normal">Key</span> </h4>
            <div class="logo-container">
                <img src="assets/images/logoCAND.png" width="33" height="25" >
            </div>
            <span class="foradmins ml-2">for admins</span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="logout" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link logout-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
