.logout-link {
    color: rgba(240, 248, 255, 0.733);
    cursor: pointer;
}

.logout-link:hover {
    color: aliceblue;
}

.navbar{
    height: 60px;
}

.texto {
    color: #ffffff;
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
}

.contenedor {
    margin-left: 20px;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

