<app-navbar-user></app-navbar-user>

<div class="container-fluid">
  <div class="row d-flex flex-nowrap">
    <div class="col1 d-flex flex-column">
      <!-- Columna de categorías -->
      <div class="categoria-column flex-grow-1">
        <div *ngIf="categorias.length > 0; else noCategories" class="categoria-list">
          <!-- Botones para crear y eliminar categoría -->
          <div class="categoria-buttons d-flex">
            <!-- Button trigger modal -->
            <button class="btn-crear btn btn-primary mr-2" (click)="crearCategoria()">Crear Categoría</button>
            <button class="btn btn-danger" (click)="borrarCategoria()" [disabled]="!selectedCategoria">Eliminar Categoría</button>
          </div>
          <!-- Línea divisoria -->
          <hr class="hr-divider">
          <h1 class="categoria-header mt-3">Categorías</h1>
          <div class="list-group mt-2">
            <div 
              *ngFor="let categoria of categorias" 
              class="list-group-item list-group-item-action categoria-item"
              [class.active]="categoria === selectedCategoria"
              (click)="getPassFromCategoria(categoria)">
              {{ categoria }}
            </div>
          </div>
        </div>

        <ng-template #noCategories>
          <div class="categoria-buttons d-flex">
            <!-- Button trigger modal -->
            <button class="btn-crear btn btn-primary mr-2" (click)="crearCategoria()">Crear Categoría</button>
            <button class="btn btn-danger" (click)="borrarCategoria()" [disabled]="!selectedCategoria">Eliminar Categoría</button>
          </div>
          <!-- Línea divisoria -->
          <hr class="hr-divider">
          <h1 class="categoria-header mt-3 mb-3">Categorías</h1>
          <div class="alert alert-primary mt-2" role="alert">
            No hay categorías disponibles.
          </div>
        </ng-template>
      </div>
    </div>

    <div class="col2">
      <!-- Columna de contraseñas -->
      <ng-container *ngIf="categoriaSeleccionada; else noCategorySelected">
        <div *ngIf="contrasenas.length > 0; else noPasswords" class="mt-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="contrasenas-header mb-0">Contraseñas para {{ selectedCategoria }}</h2>
            <span class="button-container">
              <button class="btn btn-primary btn-sm btn-crear-pass" (click)="crearContrasena()">Crear nueva contraseña</button>
            </span>
          </div>
          <div class="list-group">
            <!-- Cabecera del listado de contraseñas -->
            <div class="list-group-item list-group-item-primary d-flex justify-content-between">
              <span><strong>Nombre de la contraseña</strong></span>
              <span><strong>Tiempo de validez restante</strong></span>
            </div>
            
            <!-- Lista de contraseñas -->
            <div *ngFor="let contrasena of contrasenas"
              class="list-group-item list-group-item-action contrasena-item d-flex justify-content-between"
              [class.active]="contrasena === selectedPassword"
              (click)="showPasswordDetails(contrasena)">
              <span>{{ contrasena.nombre }}</span>
              <span class="contrasena-tiempoRestante"
                    [ngClass]="{
                      'text-white': contrasena === selectedPassword && contrasena.tiempoRestante != 'Contraseña expirada',
                      'text-danger': contrasena.tiempoRestante === 'Contraseña expirada'
                    }">
                {{ contrasena.tiempoRestante }}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    
      <ng-template #noCategorySelected>
        <div class="alert alert-primary mt-3" role="alert">
          Seleccione una categoría para ver sus contraseñas.
        </div>
      </ng-template>
    
      <ng-template #noPasswords>
        <ng-container *ngIf="categorias.length > 0">
          <div class="alert alert-primary mt-3" role="alert">
            No hay contraseñas disponibles para esta categoría.
          </div>
          <span class="button-container">
            <button class="btn btn-primary btn-sm btn-crear-pass" (click)="crearContrasena()">Crear nueva contraseña</button>
          </span>
        </ng-container>
        <ng-container *ngIf="categorias.length == 0">
          <div class="alert alert-primary mt-3" role="alert">
            Crea una categoría para poder añadir contraseñas.
          </div>
        </ng-container>
      </ng-template>
    </div>
    
    
    <div class="col3 d-flex flex-column mt-3" *ngIf="selectedPassword">
      <!-- Columna de detalles de contraseña -->
      <div class="flex-grow-1">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h2 class="contrasena-specs-header mt-2">Detalles de la contraseña</h2>
          <span class="button-container container-">
            <span class="button-editar">
              <button class="btn-crear btn btn-sm btn-primary mr-2" (click)="editarContrasena()">Editar Contraseña</button>
            </span>
            <span class="button-eliminar">
              <button class="btn btn-sm btn-danger" (click)="borrarPass()">Eliminar Contraseña</button>
            </span>         
          </span>
        </div>

        <div class="card">
          <div class="card-body">
            <p><strong>Nombre:</strong> {{ selectedPassword.nombre }}</p>
            <p class="mt-4"><strong>Username:</strong> {{ selectedPassword.username }}</p>
            <div class="d-flex align-items-center mb-3">
              <strong>Contraseña:</strong><input type="password" [value]="selectedPassword.hash" readonly class="form-control" style="width: fit-content; display: inline-block; margin-left: 10px;">
              <div class="button-container">  <button class="btn btn-sm btn-outline-primary" (click)="copyToClipboard(selectedPassword.hash)">Copiar</button>
              </div>
            </div>
            <p class="mt-4"><strong>Fecha de Expiración:</strong> {{ selectedPassword.fecha_exp }}</p>
          </div>
        </div>
        <div class="fortaleza-buttons text-center mt-3">
          <button class="btn-fortaleza btn btn-primary" (click)="calcularFortaleza()">Calcular Fortaleza</button>
        </div>
      </div>
    </div>
  </div>
</div>
