<div class="container mt-2">
    <div class="text-left d-flex align-items-center">
        <h3 class="texto mb-0">SecKey </h3>
        <img src="https://cdn-icons-png.flaticon.com/512/54/54292.png" width="40" height="35" class="mlr-2">
    </div>
</div>


<div class="formulario">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card bg-transparent border-0 custom-shadow">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <h3 class="mb-0">Iniciar sesión</h3>
                </div>
                <p class="mb-4">Gestiona tus contraseñas de manera inteligente.</p>
                <form>
                    <div class="form-group mb-3">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control custom-input" id="correoElectronico" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" [(ngModel)]="user.pass" name="pass" class="form-control custom-input" id="contraseña" placeholder="Contraseña"> 
                    </div>
                    <div class="text-right mb-3">
                        <a (click)="recuperarPass()" class="forgot-password">¿Olvidaste tu contraseña?</a> 
                    </div>
                    <div *ngIf="contrasenaIncorrecta" class="alert alert-danger mt-3">Email o contraseña incorrecta</div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-block" (click)="login()">Inicia sesión</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div> 

    <!-- Texto debajo del formulario -->
    <div class="text-center mt-4">
        <p class="nocuenta">¿No tienes cuenta? <a href="/register" class="registro-link">Regístrate</a>.</p>
    </div>
</div>
