<app-navbar-admin></app-navbar-admin>

<div class="container mt-4">
  <h2 class="text-center">Menú Principal del Administrador</h2>
  
  <div class="list-group">
    <a href="AdminUsers" class="list-group-item list-group-item-action">
      Administrar Usuarios
    </a>
    <a  class="list-group-item list-group-item-action">
      Administrar Contraseñas
    </a>
    <a  class="list-group-item list-group-item-action">
      Administrar Sesiones
    </a>
    <a  class="list-group-item list-group-item-action">
      Configuración del Sistema
    </a>
    <a  class="list-group-item list-group-item-action">
      Informes
    </a>
    <a  class="list-group-item list-group-item-action">
      Soporte Técnico
    </a>
    <!-- Añade más opciones según sea necesario -->
  </div>
</div>
