<div class="container mt-2">
    <div class="text-left d-flex align-items-center">
        <h3 class="texto mb-0">SecKey </h3>
        <img src="https://cdn-icons-png.flaticon.com/512/54/54292.png" width="40" height="35" class="mlr-2">
    </div>
</div>


<div class="formulario">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card bg-transparent border-0 custom-shadow">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <h3 class="mb-0">¿Has olvidado tu contraseña?</h3>
                </div>
                <p class="mb-4"></p>
                <form>
                    <div class="form-group mb-3">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control custom-input" id="correoElectronico" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <p class="mb-4">Enviaremos un código de verificación a este email si corresponde a una cuenta de SecKey existente.</p>
                    <div *ngIf="emailIncorrecto" class="alert alert-danger mt-3"> La dirección de email no coincide con una cuenta de SecKey existente.</div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-block" (click)="comprobarMail()">Siguiente</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <!-- Texto debajo del formulario -->
    <div class="text-center mt-4">
        <p class="nocuenta">¿Ya tienes cuenta? <a href="/login" class="registro-link">Inicia sesión</a>.</p>
    </div>
</div>
