.logout-link, .nav-link{
    color: rgba(240, 248, 255, 0.733);
    cursor: pointer;
}

.logout-link:hover, .nav-link:hover {
    color: aliceblue;
}

.texto {
    color: #ffffff;
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
}

.foradmins {
    color: white;
    font-size: 12px;
}

.contenedor {
    margin-left: 20px;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

