<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <textarea class="form-control mt-2" id="message-text1" rows="1">{{ nombrePass }}</textarea>
      <textarea class="form-control mt-2" id="message-text1" rows="1">{{ usuario }}</textarea>
      <textarea class="form-control mt-2" id="message-text3" rows="1" placeholder="Nueva contraseña"></textarea>
      <textarea class="form-control mt-2" id="message-text4" rows="1" placeholder="Repetir contraseña"></textarea>
      <h5 class="form-control mt-2" id="message-text1" rows="1">{{ fechaExp }}</h5>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="onSaveChanges()">Guardar cambios</button>
</div>
